@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html
  font-size 10px

body
  height: 100%;
  background-color $white
  font-size $fz-sm
  font-family $gothampro
  color $main-text-color

  @media (min-width: $grid-lg)
    font-size $fz-base

  @media (min-width: $grid-xxl)
    font-size $fz-xxl

h1, h2, h3, h4, h5, h6 { margin: 0; }

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a { text-decoration: none; }

p { margin: 0; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

*, *:before, *:after { box-sizing: border-box; }

.wrapper {
  display: flex;
  flex-direction: column;
  height 100vh
  position relative
  background-image url(../images/general/main-bg.png)
}

.content
  display flex
  flex-direction column
  height 100%

.main 
  max-width 50vw
  padding 0 2.6vw
  margin-bottom: auto

.container
    margin-left auto
    margin-right auto
    padding-left 2.24vw
    padding-right 2.24vw
    width 100%

// @media (min-width: $grid-sm)
//     .container
//         max-width $container-sm

// @media (min-width: $grid-md)
//     .container
//         max-width $container-md

// @media (min-width: $grid-lg)
//     .container
//         max-width $container-lg

// @media (min-width: $grid-xl)
//     .container
//         max-width $container-xl

// @media (min-width: $grid-xxl)
//     .container
//         max-width $container-xxl

//Модули
@import "modules/modules";