header.header
    .container
        .header__wrap
            include ../navigation/main-nav
            .header__cnt 
                a(href="/").header__logo
                    img(src="static/images/general/logo.png", alt="").header__logo-icon
