@import "banner/banner";
@import "buttons/buttons";
@import "discover/discover";
@import "footer/footer";
@import "header/header";
@import "navigation/navigation";
@import "questions/questions";
@import "small-blocks/small-blocks";
@import "womans-day/womans-day";