.discover
    margin 2.5vh 0 4.63vh
    display none

    &.discover--active
        display block

    &__text 
        height 30.31vw
        max-height 53.89vh
        font-size 2.34vw
        font-weight 200
        font-family $cochin
        font-style italic
        line-height 1.2
        text-transform uppercase
        display flex
        flex-direction column
        justify-content center
        align-items center
        text-align center
        background-image url(../images/content/discover/discover-bd.svg)
        background-repeat no-repeat
        background-size contain
        background-position center
        margin-bottom 2.66vw
    
    &__btn
        padding 1.36vw 2.26vw 1.1vw
        display block
        margin 0 auto
        font-size 1.2vw

        &:after
            top 0.52vw
            bottom 0.52vw
            right 0.52vw
            left 0.52vw