.footer 
    &__cnt
        display flex
        padding 1.02vh 0 
        background-image url(../images/general/header-bg.svg)
        background-size cover

        &-right,
        &-left
            display flex
            flex 1 1 50%
            justify-content space-between
            align-items center

        &-right
            padding 0 2.6vw 0 1.41vw
        
        &-left
            align-items flex-end
            padding-right 1.67vw
            position relative
            z-index 1
    
    &__btn
        padding 1.04vw 1.26vw 0.84vw
        font-size 0.68vw
        display block
        
        &:after
            top 0.35vw
            bottom 0.35vw
            right 0.35vw
            left 0.35vw
    
    &__copyright
        font-size 0.57vw
        padding-right 1.67vw

        &:not(:first-child)
            margin-left auto
            padding-right .2vw
    
    &__pg
        font-size 1.2vw
        line-height 0.8

.socials
    display flex
    align-items center

    &__title
        font-size 0.99vw
        font-weight bold
        text-transform uppercase
        margin-right 1.67vw

    &__list
        display flex
        align-items center
    
    &__item
        &:not(:last-child)
            margin-right 1.2vw

    &__link
        display flex
        align-items center
        justify-content center 
    
    &__icon
        width 1.56vw
        height 1.35vw

        &.vk
            height 0.89vw
        
        &.tw
            height 1.04vw
        
        &.fb    
            height 1.56vw