.questions
    h2.questions__title Что ты хочешь узнать?
    ul.questions__list
        li.questions__item 
            a(href="#").questions__link Когда он сделает мне предложение?
        li.questions__item 
            a(href="#").questions__link Когда я встречу свою любовь?
        li.questions__item 
            a(href="#").questions__link Когда он сделает мне предложение?
        li.questions__item 
            a(href="#").questions__link Когда я встречу свою любовь?
        li.questions__item 
            a(href="#").questions__link Когда он сделает мне предложение?