extends template/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	include modules/womans-day/womans-day
	include modules/discover/discover
	include modules/questions/questions