/* Cochin */
@font-face {
    font-family: 'Cochin';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Cochin.ttf'); /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Cochin';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/CochinItalic.ttf'); /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Cochin';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/CochinBold.ttf'); /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Cochin';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/CochinBoldItalic.ttf'); /* IE9 Compat Modes */
}

/* GothamPro */
@font-face {
    font-family: 'GothamPro';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/GothamProLight.otf'); /* IE9 Compat Modes */
}

@font-face {
    font-family: 'GothamPro';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/GothamPro.otf'); /* IE9 Compat Modes */
}

@font-face {
    font-family: 'GothamPro';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/GothamProMedium.otf'); /* IE9 Compat Modes */
}

@font-face {
    font-family: 'GothamPro';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/GothamProBold.otf'); /* IE9 Compat Modes */
}

@font-face {
    font-family: 'GothamPro';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/GothamProBlack.otf'); /* IE9 Compat Modes */
}