// Colors
$white = #ffffff
$black = #000000
$main-text-color = #f5f5d2
$btn-color = #bc0023

// GRID
$grid-sm = 576px
$grid-md = 768px
$grid-lg = 992px
$grid-xl = 1300px
$grid-xxl = 1600px
$content-size = 1240px

$grid-xs-max = (576px - 0.02px)
$grid-sm-max = (768px - 0.02px)
$grid-md-max = (992px - 0.02px)
$grid-lg-max = (1300px - 0.02px)
$grid-xl-max = (1600px - 0.02px)

$container-sm = 540px
$container-md = 720px
$container-lg = 960px
$container-xl = 1240px
$container-xxl = 1440px

$line-height-base = 1.428
$line-height-lg = $line-height-base
$line-height-sm = $line-height-base

$border-width = 1px
$border-color = $gray-200


:root
    --grid-gutter-width: 30px

    @media (min-width: 430px) and (max-width: $grid-sm-max)
        --grid-gutter-width: 40px

    @media (min-width: $grid-lg)
        --grid-gutter-width: 90px

// Fonts
$fz-base = 1.6rem
$fz-xxl = 1.8rem
$fz-sm = 1.2rem

$fw-light = 300
$fw-normal = normal
$fw-bold = 700

$cochin = 'Cochin', Arial, sans-serif
$gothampro = 'GothamPro', Arial, sans-serif