.wd
    padding 0.68vw 0
    display flex
    justify-content space-between
    align-items center

    &__img
        width 12.34vw

    &__date
        font-family $gothampro
        font-weight 500
        font-size 1.46vw
        text-transform uppercase