.header
    padding 2.78vh 0 2.59vh
    position relative
    overflow hidden
    background-image url(../images/general/header-bg.svg)
    background-size cover

    &__wrap
        // 
    
    &__cnt
        padding-left 5.78vw
    
    &__logo-icon
        max-width 39.32vw
        max-height: 9.54vh
