.banner
    position absolute
    height 100%
    width 50%
    margin-left auto
    right 0
    padding 1.82vw 1.67vw 2.14vw 0

    &__wrap
        position relative
        height 100%
        background-image url(../images/content/banner/banner-img.jpg)
        background-repeat no-repeat
        background-size cover
        border-radius 7px
    
    &__link
        position absolute
        bottom 1.67vw
        left 2.29vw
        width 14.06vw

    &__icon
        max-width 14.06vw
        max-width 25vh