.discover.discover--active
    .discover__text 
        span Что ждет тебя
        span этим летом?
        span Получи свое
        span любовное 
        span предсказание
    button.discover__btn.btn УЗНАТЬ
