.burger
    border 0
    background-color transparent
    display block
    position absolute
    padding 0
    margin 0
    width 4.75%
    top -1.04vw
    cursor pointer

    &__icon
        // 

#modal-nav
    display none
.modal-close
    &__btn
        width 11.5rem