footer.footer
    .footer__cnt
        .footer__cnt-right
            .footer__socials.socials
                .socials__title Узнать больше
                ul.socials__list
                    li.socials__item
                        a(href="#").socials__link
                            img(src="static/images/content/socials/inst.svg", alt="").socials__icon.inst
                    li.socials__item
                        a(href="#").socials__link
                            img(src="static/images/content/socials/yt.svg", alt="").socials__icon.yt
                    li.socials__item
                        a(href="#").socials__link
                            img(src="static/images/content/socials/ok.svg", alt="").socials__icon.ok
                    li.socials__item
                        a(href="#").socials__link
                            img(src="static/images/content/socials/vk.svg", alt="").socials__icon.vk
                    li.socials__item
                        a(href="#").socials__link
                            img(src="static/images/content/socials/tw.svg", alt="").socials__icon.tw
                    li.socials__item
                        a(href="#").socials__link
                            img(src="static/images/content/socials/fb.svg", alt="").socials__icon.fb
            
            button#buy-btn.footer__btn.btn Купить билет
        .footer__cnt-left
            .footer__copyright © 2016 Hearst Shkulev Media, Woman’s Network
            .footer__copyright © 2016 Warner Bros. Entertainment, Inc. and Metro-Goldwyn-Mayer Pictures Inc. All Rights Reserved.
            .footer__pg 16+
